#IDE
.vscode/
.idea/

#Venv
venv/
.env

#Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

#Alembic
alembic/versions/

#Logs
logs/*
*.log

#OS
.DS_Store
Thumbs.db

#Poetry
poetry.lock

#certs
certs/

#Linters
.mypy_cache/
.dmypy.json
dmypy.json
dmypy.lock
.ruff_cache/